body{
    background-color: black;
}
.numberButton{
    border: none;
    background-color: rgb(80,80,80);
    color: white;
    font-size: 40px;
    margin-right: 5px;
    height: 100px;
    width: 100px;
    border-radius: 50px ;
    cursor: pointer;
}
.mathButton{
    border: none;
    background-color: rgb(255,165,0);
    color: white;
    font-size: 40px;
    margin-right: 5px;
    height: 100px;
    width: 100px;
    border-radius: 50px ;
    cursor: pointer;
}
.displayMath{
    color: white;
    font-size: 100px;
    margin-top: 15px;
    margin-bottom: 5px;
}
.clearButton{
    border: none;
    background-color: rgb(80,80,80);
    color: white;
    font-size: 34px;
    margin-right: 5px;
    height: 100px;
    width: 100px;
    border-radius: 50px ;
    cursor: pointer;
}